/* GENERAL BODY CSS */

body {
    margin: 0;
    background: url(skyimage.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* NAV */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7cd911;
}

/* Search box */

.main-body-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

h1, h4, input {
    margin: 10px;
}

h4 {
    margin-top: 20px;
}

.error-message {
    display: none;
}

input {
    width: 90%;
    margin-top: 30px;
}

.search-box {
    height: 250px;
    width: auto;
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px black;
    background-color: #e1e5eb;
}

.button-class {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    h1 {
      font-size: .9rem;
    }
  }

/* Display Weather Box */

.main-body-display-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-box {
    display: flex;
    height: 355px;
    width: 600px;
    margin-top: 40px;
    background-color: #e1e5eb;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px black;
    /* display: none; */
}

.display {
    text-align: center;
    width: 100%;
    border: 1px black solid;
}

.temperature {
    font-size: 4rem;
}